body {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.menu-container, .contenido-juego {
  padding: 20px;
}

.avatar {
  width: 100px;
  cursor: pointer;
  border: 2px solid white;
  margin: 10px;
}

.avatar-grande {
  width: 200px;
}

.icono {
  width: 40px;
  margin: 5px;
}
